    [class^="ico-"], [class*=" ico-"] {
        background-image: url("../img/sprite/sprite.png");
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 20px;
        margin-top: 1px;
        vertical-align: text-top;
    }



    .ico-cart-purple {
        width: 35px;
        height: 29px;
        background-position: 0px -59px;
    }


    .ico-cart-white {
        width: 27px;
        height: 22px;
        background-position: -35px -59px;
    }


    .ico-logo-gray {
        width: 59px;
        height: 59px;
        background-position: 0px 0px;
    }


    .ico-logo-white {
        width: 59px;
        height: 59px;
        background-position: -59px 0px;
    }


    /*  HD devices
        ========================================================================== */

        @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
            //[class^="ico-"], [class*=" ico-"] { background-size: 0 0; }
        }
