/*  ==========================================================================
    Buttons
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        /*  Default
            ========================================================================== */
            .btn {
                display: inline-block;
                margin-bottom: 0;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                white-space: nowrap;
                font-size: 14px;
                line-height: 14px;
                color: #fff;
                font-weight: 500;
                padding: 15px 32px;
                position: relative;
                overflow: hidden;
                outline: none;
                text-transform: uppercase;
                @include transition(background 0.25s ease);
                @include border-radius(30px);

                /* Icon */
                [class*="ico-"]{
                    vertical-align: middle;
                    margin: 0 10px 0 0;
                }
            }

            .btn:hover,
            .btn:focus { text-decoration: none; }

        /*  Colors
            ========================================================================== */

            /*  Default
                ========================================================================== */
                .btn {
                    background-color: $color-gray;
                }

                .btn:hover,
                .btn:focus { background-color: darken($color-gray, 5%); }

            /*  Purple
                ========================================================================== */
                .btn-purple {
                    background-color: $color-purple;
                }

                .btn-purple:hover,
                .btn-purple:focus { background-color: darken($color-purple, 5%); }

            /*  Green
                ========================================================================== */
                .btn-green {
                    background-color: $color-green;
                }

                .btn-green:hover,
                .btn-green:focus { background-color: darken($color-green, 5%); }
    }

    /*
     * CSS for Extra small devices (phones, less than 768px)
     */

    @media (max-width: $breakpoint) {

    }

    /*
     * CSS for Small devices (tablets, 768px and up)
     */

    @media (min-width: $breakpoint) {

    }

    /*
     * CSS for Medium devices (desktops, 992px and up)
     */

    @media (min-width: $breakpoint-medium) {

    }

    /*
     * CSS for Large devices (large desktops, 1200px and up)
     */

    @media (min-width: $breakpoint-large) {

    }
