/*  ==========================================================================
    Inputs
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        /*  Input radio and checkbox
            ========================================================================== */
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
            }
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                
                + label{
                    position: relative;
                    padding-left: 40px;
                    cursor: pointer;
                }

                + label:before {
                    content: '';
                    position: absolute;
                    left:0; top: 2px;
                    width: 20px; 
                    height: 20px;
                    border: 3px solid #cfcfcf;
                    background: #f8f8f8;
                    border-radius: 3px; 
                }

                + label:after {
                    content: '✔';
                    position: absolute;
                    top: 3px; 
                    left: 4px;
                    font-size: 22px;
                    line-height: 0.5;
                    color: $color-gray;
                    transition: all .2s;
                }
            }

            [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }

            [type="checkbox"]:disabled:not(:checked) + label:before,
            [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
            }
            [type="checkbox"]:disabled:checked + label:after {
                color: #999;
            }
            [type="checkbox"]:disabled + label {
                color: #aaa;
            }
            

            [type="checkbox"]:checked:focus + label:before,
            [type="checkbox"]:not(:checked):focus + label:before {
                border: 3px solid $color-gray;
            }

            label:hover:before {
                border: 3px solid $color-gray!important;
            }
    }

    /*
     * CSS for Extra small devices (phones, less than 768px)
     */

    @media (max-width: $breakpoint) {


    }

    /*
     * CSS for Small devices (tablets, 768px and up)
     */

    @media (min-width: $breakpoint) {

    }

    /*
     * CSS for Medium devices (desktops, 992px and up)
     */

    @media (min-width: $breakpoint-medium) {

    }

    /*
     * CSS for Large devices (large desktops, 1200px and up)
     */

    @media (min-width: $breakpoint-large) {

    }
