/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Grid
        ========================================================================== */
        $total-columns : 12; // Total of columns
        $column-width  : 70px; // Columns width
        $gutter-width  : 40px; // Space between the columns
        $breath        : 40px; // Option of lateral space for grid
        $space         : 25px; // Vertical space

    /*  Breakpoints
        ========================================================================== */
        $breakpoint         : 768px;  // Breakpoint for small devices (Phones and Tablets)
        $breakpoint-medium  : 992px;  // Breakpoint for medium devices (Desktops)
        $breakpoint-large   : 1200px; // Breakpoint for large devices (Desktops)

    /*  Colors
        ========================================================================== */

        /* Default */
        $color-gray: #666;
        $color-gray-light: #cdcdcd;
        $color-gray-lightest: #f7f7f7;
        $color-gray-medium: #666;
        $color-gray-dark: #333;

        $color-purple: #542d4c;
        $color-pink: #e03a6a;
        $color-green: #70d6b8;

